In [21]:
import pandas as pd
import glob

### read in CSV

In [120]:
bike_2019_df = pd.concat(map(pd.read_csv, glob.glob('Resources/2019/*.csv')))
bike_2019_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,219,2019-02-01 00:00:06.2570,2019-02-01 00:03:46.1090,3494.0,E 115 St & Lexington Ave,40.797911,-73.942300,3501.0,E 118 St & Madison Ave,40.801487,-73.944251,33450,Subscriber,1989,1
1,143,2019-02-01 00:00:28.0320,2019-02-01 00:02:51.7460,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,25626,Subscriber,1990,1
2,296,2019-02-01 00:01:13.9870,2019-02-01 00:06:10.7340,3571.0,Bedford Ave & Bergen St,40.676368,-73.952918,3549.0,Grand Ave & Bergen St,40.678045,-73.962408,35568,Subscriber,1987,1
3,478,2019-02-01 00:01:14.1520,2019-02-01 00:09:12.7870,167.0,E 39 St & 3 Ave,40.748901,-73.976049,477.0,W 41 St & 8 Ave,40.756405,-73.990026,25045,Subscriber,1964,2
4,225,2019-02-01 00:01:49.3410,2019-02-01 00:05:34.4980,3458.0,W 55 St & 6 Ave,40.763094,-73.978350,3443.0,W 52 St & 6 Ave,40.761330,-73.979820,34006,Subscriber,1979,1

In [121]:
bike_2019_df['starttime']=pd.to_datetime(bike_2019_df['starttime'])
bike_2019_df['stoptime']=pd.to_datetime(bike_2019_df['stoptime'])
bike_2019_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,219,2019-02-01 00:00:06.257,2019-02-01 00:03:46.109,3494.0,E 115 St & Lexington Ave,40.797911,-73.942300,3501.0,E 118 St & Madison Ave,40.801487,-73.944251,33450,Subscriber,1989,1
1,143,2019-02-01 00:00:28.032,2019-02-01 00:02:51.746,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,25626,Subscriber,1990,1
2,296,2019-02-01 00:01:13.987,2019-02-01 00:06:10.734,3571.0,Bedford Ave & Bergen St,40.676368,-73.952918,3549.0,Grand Ave & Bergen St,40.678045,-73.962408,35568,Subscriber,1987,1
3,478,2019-02-01 00:01:14.152,2019-02-01 00:09:12.787,167.0,E 39 St & 3 Ave,40.748901,-73.976049,477.0,W 41 St & 8 Ave,40.756405,-73.990026,25045,Subscriber,1964,2
4,225,2019-02-01 00:01:49.341,2019-02-01 00:05:34.498,3458.0,W 55 St & 6 Ave,40.763094,-73.978350,3443.0,W 52 St & 6 Ave,40.761330,-73.979820,34006,Subscriber,1979,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1924558,304,2019-05-31 23:59:45.576,2019-06-01 00:04:50.462,3175.0,W 70 St & Amsterdam Ave,40.777480,-73.982886,423.0,W 54 St & 9 Ave,40.765849,-73.986905,32285,Subscriber,1987,2
1924559,324,2019-05-31 23:59:46.465,2019-06-01 00:05:11.163,2003.0,1 Ave & E 18 St,40.733812,-73.980544,536.0,1 Ave & E 30 St,40.741444,-73.975361,33874,Subscriber,1994,2
1924560,1926,2019-05-31 23:59:51.506,2019-06-01 00:31:58.392,146.0,Hudson St & Reade St,40.716250,-74.009106,422.0,W 59 St & 10 Ave,40.770513,-73.988038,33395,Subscriber,1985,1
1924561,2047,2019-05-31 23:59:52.417,2019-06-01 00:34:00.197,3658.0,W 18 St & 9 Ave,40.743534,-74.003676,2008.0,Little West St & 1 Pl,40.705693,-74.016777,27624,Subscriber,1987,0
1924562,964,2019-05-31 23:59:55.550,2019-06-01 00:15:59.868,285.0,Broadway & E 14 St,40.734546,-73.990741,3656.0,E 2 St & Avenue A,40.723077,-73.985836,32565,Subscriber,1992,2

In [154]:
start_stations_2019_df = bike_2019_df.groupby([bike_2019_df['starttime'].dt.month_name().rename('start month'), 'start station id']).agg({'bikeid':'count',
                                                      'tripduration': 'mean',
                                                       'start station name':'first',
                                                       'start station latitude':'first',
                                                       'start station longitude':'first'})
start_stations_2019_df = start_stations_2019_df.reset_index(level=[0,1])

start_stations_2019_df = start_stations_2019_df.rename(columns={'start station id': 'station id',
                                                    'tripduration': 'ride duration', 
                                                    'bikeid':"number of rides",
                                                    'start station name': 'station name',
                                                    'start station latitude': "latitude",
                                                    'start station longitude': 'longitude'})
start_stations_2019_df.to_csv('data/2019_citibikes_start_stations.csv', index=False)

In [148]:
age_bins = [10, 19, 29, 39, 49, 59, 69, 100]

age_group_names = ["<20", "20-29", "30-39", "40-49", "50-59", "60-69", "70+"]

bike_2019_df['age'] = 2019 - bike_2019_df['birth year']
bike_2019_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age,Age Ranges
0,219,2019-02-01 00:00:06.257,2019-02-01 00:03:46.109,3494.0,E 115 St & Lexington Ave,40.797911,-73.942300,3501.0,E 118 St & Madison Ave,40.801487,-73.944251,33450,Subscriber,1989,1,30,30-39
1,143,2019-02-01 00:00:28.032,2019-02-01 00:02:51.746,438.0,St Marks Pl & 1 Ave,40.727791,-73.985649,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,25626,Subscriber,1990,1,29,20-29
2,296,2019-02-01 00:01:13.987,2019-02-01 00:06:10.734,3571.0,Bedford Ave & Bergen St,40.676368,-73.952918,3549.0,Grand Ave & Bergen St,40.678045,-73.962408,35568,Subscriber,1987,1,32,30-39
3,478,2019-02-01 00:01:14.152,2019-02-01 00:09:12.787,167.0,E 39 St & 3 Ave,40.748901,-73.976049,477.0,W 41 St & 8 Ave,40.756405,-73.990026,25045,Subscriber,1964,2,55,50-59
4,225,2019-02-01 00:01:49.341,2019-02-01 00:05:34.498,3458.0,W 55 St & 6 Ave,40.763094,-73.978350,3443.0,W 52 St & 6 Ave,40.761330,-73.979820,34006,Subscriber,1979,1,40,40-49

In [149]:
age_series = pd.cut(bike_2019_df["age"], age_bins, labels=age_group_names, include_lowest=True)

bike_2019_df['Age Ranges'] = age_series

bike_2019_age_ranges_df = bike_2019_df.groupby([bike_2019_df['starttime'].dt.month_name().rename('month'), bike_2019_df['Age Ranges'], "gender", "usertype"]).agg({'bikeid':'count',
                                                       'tripduration': 'mean'})

bike_2019_age_ranges_df = bike_2019_age_ranges_df.reset_index(level=[0,1,2,3])
bike_2019_age_ranges_df = bike_2019_age_ranges_df.rename(columns={'tripduration': 'avg ride duration', 
                                                    'bikeid':"number of rides"})
bike_2019_age_ranges_df.to_csv('data/2019_citibikes_age_gender.csv', index=False)

In [150]:
bike_2019_day_df = bike_2019_df.groupby([bike_2019_df['starttime'].dt.month_name().rename('month'), bike_2019_df['starttime'].dt.hour.rename('hour')]).agg({'bikeid':'count',
                                                      'tripduration': 'mean'})

bike_2019_day_df = bike_2019_day_df.reset_index(level=[0,1])

bike_2019_day_df = bike_2019_day_df.rename(columns={'tripduration': 'avg ride duration', 
                                                    'bikeid':"number of rides"})
bike_2019_day_df.to_csv('data/2019_citibikes_timeofday.csv', index=False)

In [151]:
bike_2019_dayofweek_df = bike_2019_df.groupby([bike_2019_df['starttime'].dt.month_name().rename('month'), 
                                               bike_2019_df['starttime'].dt.day_name().rename('day of week')])\
                                                    .agg({'bikeid':'count',
                                                    'tripduration': 'mean'})

bike_2019_dayofweek_df = bike_2019_dayofweek_df.reset_index(level=[0,1])

bike_2019_dayofweek_df = bike_2019_dayofweek_df.rename(columns={'tripduration': 'avg ride duration', 
                                                    'bikeid':"number of rides"})
bike_2019_dayofweek_df.to_csv('data/2019_citibikes_dayofweek.csv', index=False)